.ServiceImgCarousel img {
    height: 100vh;
    object-fit: cover;
}

.ServiceImgCarousel h1 {
    font-size: 3.5em;
}

.ServiceImgCarousel .serviceTitle {
    text-shadow: 0 8px 16px rgb(80, 80, 80);
}