.UserProfileCard {
    margin-top: 80px;

}

.UserProfileCard .userCard {
    background-color: rgba(255, 255, 255, 0.533) !important;
    border: none !important;
}

.UserProfileCard img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.UserProfileCard .userMapContainer {
    border-radius: 7px;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.533);
    margin-bottom: 80px;
}

.UserProfileCard .cardUserContainer {
    display: block;
    margin: 10px;
}