.icon {
    width: auto;
    height: 30px;
}

.iconsContainer {
    text-align: end;
}


.chooseStylist {
    color: white;
    text-align: center;
    text-shadow: 0 8px 16px rgb(80, 80, 80);
}

.choosePack {
    color: white;
    text-align: center;
    text-shadow: 0 8px 16px rgb(80, 80, 80);
}