.selectedCard {
    border-radius: 10px;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.667);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.StylistCard {
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.cardContent {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.transformCard:hover {
    transform: scale(1.05);
}

.stylistName {
    font-size: 1em;
    color: #333;
    margin-bottom: 10px;
}

.imgContainer {
    display: flex;
    justify-content: center;
}

.avatarImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

.learnMore {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

.learnMore:hover {
    text-decoration: underline;
}

.servicesList,
.favoriteStyles {
    font-size: 0.9em;
    background-color: #f9f9f9;
    height: 50px;
    overflow-y: scroll;
    scrollbar-color: rgb(246, 225, 225) rgb(255, 255, 255);
    margin-bottom: 0px;

}

.list-group-flush .list-group-item {
    border: 0;
}

.favoriteStyles {
    color: #555;
}

ul {
    padding-left: 20px;
}

ul li {
    list-style-type: disc;
}

.StylistCard .btn {
    margin-top: 10px;
    width: 100%;
    background-color: #343a40;
    border: none;
}

.StylistCard .btn:hover {
    background-color: #23272b;
}

.StylistCard .btn b {
    color: #fff;
}