.stylistInfo {
    border: 1px solid #e62525;
    border-radius: 20px;
}

.servicesSection {
    border: 1px solid #e62525;
    border-radius: 20px;
    padding: 10px;
}

.stylesSection {
    border: 1px solid #e62525;
    border-radius: 20px;
    padding: 10px;
}