.sidebar_container {
    display: flex;
}

.launch_offset_btn {
    position: absolute;
    z-index: 100;
    top: 5%;
    left: 2%;
    width: 50px;
}

.buttonsContainer {
    justify-content: space-between;
    padding-top: 15px;
}

.login {
    display: flex;
    align-items: center;
    width: 100%;
}

.login img {
    width: 60px;
}

.userAdnLogout {
    display: flex;
    justify-content: space-between;
    width: 100%;
}