.sidebar_container {
    display: flex;
}

.launch_offset_btn {
    position: fixed;
    z-index: 680;
    top: 5%;
    left: 2%;
    width: 50px;
}

.buttonsContainer {
    justify-content: space-between;
    padding-top: 15px;
}

.login {
    display: flex;
    align-items: center;
}

.login img {
    width: 40px;
}

.userAdnLogout {
    display: flex;
    justify-content: space-between;
}

.userAdnLogout h6 {
    margin-left: 150px;
}

.offcanvas-body a {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 1px;
    color: #000;
}

.offcanvas-body a:hover {
    color: #828990;
}

.offcanvas_title {
    font-size: 2.1rem;
}

.accessModal {
    background-color: rgba(0, 0, 0, 0.086);
    /* Fondo oscuro con transparencia */
}

.modalBodyContainer {
    background-color: rgba(0, 0, 0, 0.086);
    /* Fondo oscuro con transparencia */
}