.packsImputs {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
}

.coverImage {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.carouselImage {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.carouselPreview {
    display: flex;
    flex-direction: row;
    justify-content: left;

}

.form {
    background-color: rgba(65, 65, 65, 0);
    /* Fondo oscuro con transparencia */

}

.deleteIcon {
    width: 15px;
    height: 15px;
}

.imagesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}