a,
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: rgb(0, 0, 0)
}

a:hover {
    color: darkgray
}

::marker {
    font-size: 0;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.086);
}

.form {
    background-color: rgba(65, 65, 65, 0);
}